<footer>
	{% include "_partials/nav-sitemap" %}
	<div class="bg-primary p-5 flex md:items-center md:justify-between">
		<div class="md:order-2">
			{% include "_partials/social" %}
		</div>
		<p class="mt-8 text-xs text-white md:mt-0 md:order-1">
			&copy; Copyright, Department for Environment and Water
			{{ now|date('Y') }}
		</p>
	</div>

	<div class="bg-secondary p-5 md:flex md:items-center md:justify-between xl:shadow-2xl xl:rounded-b-xl">
		<p class="mt-8 text-xs text-white md:mt-0 md:order-1">
			partner logos
		</p>
	</div>
</footer>
