<section id="hero-slider">
	<swiper :autoplay="{'delay': 2500,'disableOnInteraction': false}" :navigation="true" :loop="true">
		{% for slide in slides %}
			{% switch slide.type %}
				{% case "customSlide" %}
					{% set href = slide.href.url %}
					{% set image = slide.image.one() ?? null %}
					{% set heading = slide.heading %}
					{% set subHeading = slide.subHeading ?? null %}

				{% case "entrySlide" %}
					{% set entry = slide.entry.one() %}
					{% set href = entry.url %}
					{% set image = entry.teaserImage.one() ?? entry.heroImage.one() ?? null %}
					{% set heading = entry.teaserTitle ?? entry.title %}
					{% set subHeading = entry.teaserText ?? null %}
			{% endswitch %}
			<swiper-slide :class="h-full">
				{% include "_partials/slide" %}
			</swiper-slide>
		{% endfor %}
	</swiper>
</section>
