{% extends '_layouts/main-layout' %}

{% set articles = craft.entries.section('news').all() %}

{% block content %}
  <div>
    {% for article in articles %}
      {% include '_partials/article-card.twig' with {
        article: article
      } %}
    {% endfor %}
  </div>
{% endblock %}
