/**
 * animations.scss
 *
 * All animations in one place
 *
 */

/**
  * By defining a mixin and then creating a class we are able to easily add
  * animations to DOM nodes or to CSS rules.
  */

/* Mixins
   ========================================================================== */
@mixin animate-spin {
  animation: spin 2s infinite linear;
  display: inline-block;
}

/* Classes
   ========================================================================== */
.animate-spin {
  @include animate-spin;
}

/* Keyframes
   ========================================================================== */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes loaderBounceSide {
  0% {
    left: 85%;
  }

  50% {
    left: -10%;
  }

  100% {
    left: 85%;
  }
}

@keyframes loaderFill {
  0% {
    width: 2%;
  }

  50%,
  100% {
    width: 100%;
  }
}
