/**
 * global.scss
 *
 * Rules that will affect the entire site
 *
 */

html {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  /* stylelint-disable-next-line */
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* stylelint-disable-next-line */
  font-smooth: always;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  overflow-x: hidden;
}

body {
  @include lazy-font('body');
}

@each $key, $value in $custom-fonts {
  .font-#{$key} {
    @include lazy-font(#{$key});
  }
}
