/**
 * components/body.pcss
 *
 * Any styles needed for main body area
 *
 */
#main-content {
  background-image: url('/dist/images/bgsa-content-background.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
}
