/**
 * components/footer.pcss
 *
 * Any styles needed for footer component
 *
 */
footer .sitemap {
  background-image: url('/dist/images/bgsa-sitemap-background.svg');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
