/**
 * components/header.pcss
 *
 * Any styles needed for header component
 *
 */
.site-header {
  background-image: url('/dist/images/bgsa-header-background.svg');
  background-position: top right;
  background-repeat: no-repeat;
}
