@layer components {
  .swiper-button-next {
    @apply right-4;

    &::after {
      content: 'next';
    }
  }

  .swiper-button-prev {
    @apply right-14;

    &::after {
      content: 'prev';
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @apply absolute bottom-4 z-10 w-8 h-8 bg-white rounded-full text-primary border-primary border-2 flex items-center justify-center cursor-pointer;

    &:hover {
      @apply opacity-70;
    }

    &::after {
      /* stylelint-disable-next-line */
      font-family: swiper-icons;
    }
  }
}
