@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'components/global.pcss';
@import 'components/alert-banner.pcss';
@import 'components/hero-slider.pcss';
