{% extends "_layouts/generic-page-layout" %}

{# -- Any template/page specific variables -- #}
{# {% set var = value %} #}

{% from "_partials/macros" import icon %}

{% block headlinks %}
    {{ parent() }}
{% endblock headlinks %}

{% block content %}
    <section class="h-screen bg-green-600 flex w-full items-center justify-center">
        <div class="w-3/4 text-white text-center">
            {{ icon('coffee', '') }}
            <h1 class="text-6xl font-bold font-heading mt-5">Time to grab a coffee and start your project</h1>
        </div>
    </section>
{% endblock content %}

{% block subcontent %}
{% endblock subcontent %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
